body {
    margin-left: 150px;
    margin-right: 150px;
    font-family: "Roboto", system-ui;
}

h1 {
    font-weight: bold;
    color: red;
}

h2 {
    font-weight: bold;
    color: black;
}

h3 {
    font-weight: bold;
    color: green;
}