body{
    	margin-left: 500px;
	margin-right: 500px;
	font-family: "Roboto", system-ui;
}

.grey-block {
	background-color: #eaeaea;
}

.gras-rouge {
	font-weight: bold;
	color: red;
}

.line {
	height: 1px;
	background: black;
}